.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.spinner {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-top-color: rgb(161, 141, 141);
  border-bottom-color: rgb(161, 141, 141);
  border-right-color: rgb(161, 141, 141);
  border-left-color: rgb(102, 87, 87);
  animation: spin 0.8s linear infinite;
  transition: all 0.5s ease-in-out;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
