.container {
  margin-top: 6.5rem;
  width: 100%;
  height: 75vh;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
.heading {
  font-weight: 600;
  font-family: tahoma;
  font-size: 2.3rem;
  color: #ccc;
}
.gradient {
  background: linear-gradient(
    to right,
    rgba(25, 11, 107, 0.77),
    rgba(248, 246, 247, 0.87),
    rgb(99, 5, 33)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hi {
  animation: byby 5s linear infinite;
  font-size: 4.5rem;
}

@keyframes byby {
  0% {
    transform: rotate(0) translateY(-15px);
  }
  25% {
    transform: rotate(45deg) translateY(-15px);
  }
  50% {
    transform: rotate(0) translateY(-15px);
  }
  75% {
    transform: rotate(45deg) translateY(-15px);
  }
  100% {
    transform: rotate(0) translateY(-15px);
  }
}
.leedonson {
  margin-top: 2rem;
  text-decoration: underline;
  color: blue;
}
.desc {
  font-weight: 400;
  font-family: tahoma;
  font-size: 1.2rem;
  color: #ccc;
  width: 50%;
  margin-top: 2rem;
  line-height: 1.5;
}
.krintifalab {
  color: rgb(46, 102, 223);
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
  .desc {
    width: 80%;
    font-size: 1.1rem;
  }
}
