.container {
  margin-top: 6.5rem;
  width: 100%;
  height: 75vh;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
.heading {
  font-weight: 600;
  font-family: tahoma;
  font-size: 2.3rem;
  color: #ccc;
}
.desc {
  font-weight: 400;
  font-family: tahoma;
  font-size: 1.2rem;
  color: #ccc;
  width: 50%;
  margin-top: 2rem;
  line-height: 1.5;
}
.krintifalab {
  color: rgb(46, 102, 223);
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
  .desc {
    width: 80%;
    font-size: 1.1rem;
  }
}
