.container {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    rgba(34, 3, 3, 0.88),
    rgba(6, 25, 80, 0.88),
    rgba(19, 12, 34, 0.88)
  );
}
.top {
  margin-top: 3rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  margin-top: 1rem;
  font-weight: 600;
  font-family: tahoma;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #ccc;
  background-color: rgb(21, 26, 31);
  border-radius: 0.5rem;
  padding: 1rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
  margin-top: 1.5rem;
  width: 100%;
}
.btn {
  border: none;
  margin: 0 1rem;
  outline: none;
  width: 25%;
  height: 4rem;
  border-radius: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  color: rgb(237, 237, 247);
  position: relative;
  font-family: verdana;
  background-color: rgba(95, 4, 32, 0.993);
  z-index: 9;
}

.btn .spans {
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 0;
  background-color: rgba(11, 38, 128, 0.733);
  position: absolute;
  border-radius: 2.5rem;
  top: 0;
  left: 0;
  right: 0;
}

.btn:hover .spans {
  width: 100%;
  z-index: -1;
}

/* media queries  */
@media (max-width: 968px) {
  .heading {
    font-size: 3.1rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
    text-align: center;
  }
  .top {
    margin-top: 4rem;
    padding: 4rem 0;
  }
  .bottom {
    justify-content: space-evenly;
  }
  .btn {
    width: 50%;
    height: 3.4rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 568px) {
  .container {
    height: 85vh;
  }
  .heading {
    font-size: 2rem;
  }
  .bottom {
    justify-content: space-between;
    padding: 2rem 0.4rem;
    margin-top: 0.5rem;
  }
  .btn {
    width: 100%;
  }
}
@media (max-width: 438px) {
  .heading {
    font-size: 1.62rem;
  }
  .bottom {
    padding-top: 3rem;
  }

  .btn {
    font-size: 1rem;
    height: 3rem;
  }
}
