.container {
  margin-top: 5rem;
  width: 100%;
  padding: 1rem 0.4rem;
}
.card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.loading {
  padding: 4rem 0;
  margin-top: 8rem;
  font-size: 2rem;
  font-weight: 400;
  color: red;
}

@media (max-width: 768px) {
  .container {
    margin-top: 6.5rem;
  }
  .card {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
