.container {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: radial-gradient(
    rgba(43, 2, 2, 0.77),
    rgba(1, 12, 43, 0.88),
    rgba(12, 17, 39, 0.88)
  );
}
.wrapper {
  padding: 0 0.5rem;
}
.img {
  width: 100%;
}
.image {
  border-radius: 0.5rem;
  width: 100%;
}

.info,
.rating {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: verdana;
  font-size: 1rem;
}
.name {
  font-family: tahoma;
  font-weight: 500;
  color: #aaa;
  font-size: 1.4rem;
}
.cuisine {
  background-color: purple;
  padding: 0.4rem;
  border-radius: 1.6rem;
  font-family: verdana;
  font-size: 0.8rem;
}
