.container {
  margin-top: 4.5rem;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem 0;
}
.icon {
  font-size: 1.5rem;
  color: #ccc;
  font-weight: 500;
  position: absolute;
  cursor: pointer;
  top: 40%;
  left: 10%;
}
.name {
  color: #aaa;
  font-size: 2.4rem;
  font-family: tahoma;
  font-weight: 600;
  text-align: center;
}

.wrapper {
  padding: 1rem;
  display: flex;
  gap: 0.4rem;
}
.left {
  margin-bottom: 0.5rem;
  flex-basis: 60%;
  height: 700px;
}
.img {
  padding: 0.6rem;
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.right {
  flex-basis: 40%;
}
.item_name {
  color: #aaa;
  font-family: tahoma;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400;
}
.info {
  margin-top: 2rem;
}
.cuisine {
  background-color: rgba(114, 52, 73, 0.616);
  color: rgba(54, 116, 230, 0.829);
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  margin: 1rem 0;
  font-weight: 400;
  font-family: helvetica;
  font-size: 1.6rem;
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label {
  color: #197dace8;
  font-weight: 400;
  font-family: verdana;
  font-size: 1.3rem;
  padding: 1rem 0;
}
.details {
  color: #ccc;
  font-weight: 400;
  font-family: verdana;
  line-height: 1.5;
  font-size: 1rem;
}
.customer {
  margin-top: 2rem;
  border: 0.5px solid rgba(131, 8, 39, 0.884);
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.c_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.initial {
  border: 0.5px solid blue;
  padding: 0.5rem;
  border-radius: 50%;
  color: #ccc;
  font-family: tahoma;
  font-weight: 500;
  font-size: 1.2rem;
}

.fullName {
  color: #ccc;
  font-family: tahoma;
  font-weight: 500;
  font-size: 1.2rem;
}
.customer_review {
  color: #ccc;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem;
}
.date {
  color: #918383d7;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 0.8rem;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    margin-top: 6.5rem;
  }
  .wrapper {
    flex-direction: column;
    gap: 0;
  }
  .name {
    font-size: 2rem;
  }
}
