.container {
  padding: 1.2rem;
  background-color: rgba(10, 10, 68, 0.877);
  text-align: center;
}
.copy {
  font-family: helvetica;
  font-size: 1.2rem;
  font-weight: 300;
  color: #aaa;
}

/* media queries  */
@media (max-width: 768px) {
  .copy {
    font-size: 0.91rem;
  }
}
